/* gallery.css */

.gallery-item {
  width: 100%; /* Adjust the width as needed */
  margin-bottom: 15px; /* Adjust the margin as needed */
}

.hover-bg img {
  transition: transform 0.3s ease; /* Add a smooth transition for the transform property */
  width: 100%; /* Set the width to 100% */
  height: auto; /* Maintain the aspect ratio */
}

.hover-bg:hover img {
  transform: scale(1.1); /* Increase the size on hover */
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; /* Add a smooth transition for the opacity property */
}

.hover-bg:hover .hover-text {
  opacity: 1; /* Show the text on hover */
}
